*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


html , body{
    width : 100% ;
    height : 100% 
}

#map{
    height: 100vh;
    width: 100%;
}

#share-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#share-link {
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 999;
    width: 300px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
